/wp-content/plugins/easy-social-share-buttons/public/cache
!/wp-content/plugins/easy-social-share-buttons/public/cache/.gitkeep
!/wp-content/plugins/easy-social-share-buttons/public/cache/.htaccess
/phpunit/tests/tool/reports
!/phpunit/tests/tool/reports/.gitkeep
/wp-config.php
/wp-content/cache/*
!/wp-content/cache/.gitkeep
/wp-content/advanced-cache.php
/wp-content/object-cache.php
/.htaccess
/member/*
/purge/*
/sharethelove/*
/shop/*
/wp-content/plugins/wordfence/tmp/configCache.php
/wp-content/plugins/wordfence/tmp/
/wp-content/w3tc-config/master.php
/wp-content/w3tc-config/master_copy.php
/test.php
/testXml.php
/testXmlHtml.php
/.idea
/phpunit/vendor
/spike-assets/
/social/
/social-network/
/shop-original/
shop-original.zip
buy/
dev-shop copia/
dev-shop_copia_24/
img-copy-shop/
info.php
new-prod-shop/
nginx.conf.new
onepagecheckoutps_tmp/
phpunit/1.txt
phpunit/5dev.txt
phpunit/tests/tool/123
shop 23-11-2015/
shop-original.bak/
/dev-shop/
/loveschool/
/prod-shop/
