[submodule "shop"] 
  path = shop 
  url = https://featurex:3yV2qXgNDgkbqWKZ@github.com/featurex/mytinysecrets-shop.git

[submodule "sharethelove"] 
  path = sharethelove 
  url = https://featurex:3yV2qXgNDgkbqWKZ@github.com/featurex/mytinysecrets-sharethelove.git

[submodule "member"] 
  path = member 
  url = https://featurex:3yV2qXgNDgkbqWKZ@github.com/featurex/mytinysecrets-member.git
