 Options +FollowSymLinks +ExecCGI
 <IfModule mod_rewrite.c>
	 RewriteEngine On
	 RewriteCond %{REQUEST_URI} !(index\.html)$
	 RewriteRule (.*) http://mytinysecrets.com/member?protect=downloads&file=$1 [QSA]
 </IfModule>