color-base     = #D71A68
color-amarillo = #FCDD07
color-menu     = #484747

flex-inline()
	display flex
	flex-flow row wrap
	justify-content space-around

flex-vertical()
	display flex
	align-items center
	justify-content center
