color-base     = #D71A68
color-amarillo = #FCDD07
color-menu     = #484747

$socials         =  'twitter'  'facebook_like' 'facebook_shares'   'google'    'pinterest'   'stumbleupon'    'digg'    'email'
$socials_colors  =   #00aced      #3B5999         #3B5999         #BF3727       #CD252B        #EB4723      #1B5791     #888

flex-inline()
	display flex
	flex-flow row wrap
	justify-content space-around

flex-vertical()
	display flex
	align-items center
	justify-content center
