@import 'nib'

@import './plugins/react.css'
@import './includes/base.styl'

@require './blocks/menu-responsive.styl'
@require './blocks/react-style.styl'

.pb-mc-wrapper.hide
	display none

#course-enroll-banner
	position relative
	background-size cover
	background-position center 70%

	.play-btn
		width 50px
		height 50px
		cursor pointer
		background-size cover
		absolute top 50% right 18%
		transform translate(0, -50%)
		background-position center center

	.left-block
		width 55%
		background rgba(0, 0, 0, 0.54)

		h5, h2
			color #FFF

		.padding-block
			padding 24px

		a.btn
			color #FFF
			width 180px
			display block
			font-size 18px
			margin-top 12px
			padding 10px 25px
			border-radius 5px
			text-align center
			box-sizing border-box
			background-color #14D99D
			transition background-color .3s

			&:hover
				background-color #15AA7C

		.counter_wrapper
			background #FFF
			padding 0 10px
			flex-inline()

			p
				width 130px
				margin auto 0
				font-size 18px
				font-weight bold

			.counter_labels
				margin auto

			.counter_labels
				flex-inline()
				padding 10px 0

				div
					margin auto 15px
					text-align center

					&.m
						margin-left 0

					span
						display block
						position relative

						&:not(.last)
							margin-left -10px
							padding-right 20px

							&.label
								border-right 1px solid #000

						&:not(.label)
							font-size 20px
							font-weight bold

	@media(max-width 1070px)
		.left-block .counter_wrapper
			padding 10px

			p
				width 100%
				text-align center

	@media(max-width 800px)
		.left-block
			width 70%

	@media(max-width 600px)
		.left-block
			width 100%

			.counter_wrapper
				background initial
				
				div span
					border 0 !important

				p
					color #FFF

			a.btn
				width: 100%