#floating_share
	width 73px
	display block
	min-width 55px
	transition all .3s
	border 1px solid #D71A68
	absolute top 362px left 35px

	.image
		width 100%
		height 62px
		display block
		background-size cover
		background-repeat no-repeat

	.iframes
		padding 9px 5px
		text-align center
		background-color #FFF

		.twitter
			height 25px
			margin-left 2px

		.fb-like
			margin-bottom 10px
