.essb_displayed_sidebar
    border 1px solid #D71A68 !important
    background-image url(../images/pb-bg-share.png)
    background-repeat no-repeat
    background-position top
    padding-top 65px
    padding-bottom 3px
    max-width 73px
    .essb_item
        padding-left 5px !important
